@model WebPovedCalculator.Models.CounterModel

@{
    ViewBag.Title = "Poved Kalkulátor tarifu";
}

<h2>Tarifní kalkulačka jízdného</h2>

@using (Html.BeginForm())
{
    // Datepickers inicialization
    <script src="~/Scripts/Secret/datepicker.js"></script>
    <script>
        $(function () {
            calendarInit(@DateTime.Now.Year, @(@DateTime.Now.Year+10));
        });
    </script>

    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.category, new SelectList(Model.categories, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.discountISIC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.discountISIC)
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.startDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.startDate, new { @class = "form-control jquery_datepicker", @Value = Model.startDate.ToShortDateString() })
                @Html.ValidationMessageFor(model => model.startDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.endDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.endDate, new { @class = "form-control jquery_datepicker", @Value = Model.endDate.ToShortDateString() })
                @Html.ValidationMessageFor(model => model.endDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.zone, new SelectList(Model.zones, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.zone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.innerZone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.innerZone)
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spočítat cenu" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@if (@Model.price > 0)
{
    // Compare With Car inicialization
    <script src="~/Scripts/Secret/comparewithcar.js"></script>
    <script>
        $(function () {
            compareWithCarInit(@Model.daysDifference, @Model.price);
        });
    </script>
    
    <hr />
    
    if (@Model.isNetwork || @Model.zone > 0) {
    if (@Model.isNetwork) { <h4>Síťové jízdné</h4> } else { <h4>Jízdné pro vnější zóny</h4> }
    <table class="table table-striped">
        <thead>
            <tr><th>Od</th><th>Do</th><th>Počet dní</th><th>Kategorie</th><th>Typ tarifu</th><th>Cena</th></tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model.tarifs)
            {
                <tr>
                    <td>@item.dateStart.ToShortDateString()</td>
                    <td>@item.dateEnd.ToShortDateString()</td>
                    <td>@item.days</td>
                    <td>@item.category</td>
                    <td>@item.TariffName</td>
                    <td>
                        @if (@Model.zone > 1 && !@Model.isNetwork) { <span class="text-muted">@Model.zone x </span> }
                        @item.price Kč
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
    <hr />
    if (!@Model.isNetwork && @Model.innerZone) {
    <h4>Jízdné pro @Html.DisplayNameFor(model => model.innerZone)</h4>
    <table class="table table-striped">
        <thead>
            <tr><th>Od</th><th>Do</th><th>Počet dní</th><th>Kategorie</th><th>Typ tarifu</th><th>Cena</th></tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tarifsInner)
            {
                <tr>
                    <td>@item.dateStart.ToShortDateString()</td>
                    <td>@item.dateEnd.ToShortDateString()</td>
                    <td>@item.days</td>
                    <td>@item.category</td>
                    <td>@item.TariffName</td>
                    <td>
                        @item.price Kč
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }

    <div class="form-group">
        <h3>
            <span class="label label-default">Doba: @Model.daysDifference dní</span>
            
            @if (@Model.zone > 0)
            {
                <span class="label label-default">@Html.DisplayNameFor(model => model.zone): @Model.zone</span>
            }
            @if (@Model.innerZone)
            {
                <span class="label label-default">@Html.DisplayNameFor(model => model.innerZone)</span>
            }
            @if (@Model.isNetwork)
            {
                <span class="label label-warning">Síťové jízdné</span>
            }
        </h3>
        <h2>
            <span class="label label-info">Celková cena: @Model.price Kč</span>
        </h2>
    </div>
    <hr />
    <hr />

    <h3>Srovnání nákladů: Auto X Veřejná doprava</h3>
    <hr />
    
    //Chosing car parameters
    <div class="form-horizontal">

        <div class="form-group">
            <label for="fuelConsumptionAmount" class="control-label col-md-4">
                Průměrná spotřeba paliva:
                <input type="text" id="fuelConsumptionAmount" readonly style="border:0; color:#005EB8; font-weight:bold;" size="12">
            </label>
            <div class="col-md-8">
                <div id="fuelConsumption" style="margin-top:12px"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="fuelPriceAmount" class="control-label col-md-4">
                Cena paliva:
                <input type="text" id="fuelPriceAmount" readonly style="border:0; color:#005EB8; font-weight:bold;" size="12">
            </label>
            <div class="col-md-8">
                <div id="fuelPrice" style="margin-top:12px"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="pathDistanceAmount" class="control-label col-md-4">
                Délka trasy (tam i zpět):
                <input type="text" id="pathDistanceAmount" readonly style="border:0; color:#005EB8; font-weight:bold;" size="12">
            </label>
            <div class="col-md-8">
                <div id="pathDistance" style="margin-top:12px"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="parkingPriceAmount" class="control-label col-md-4">
                Cena parkování:
                <input type="text" id="parkingPriceAmount" readonly style="border:0; color:#005EB8; font-weight:bold;" size="12">
            </label>
            <div class="col-md-8">
                <div id="parkingPrice" style="margin-top:12px"></div>
            </div>
        </div>

    </div>

    <hr />
    
    //Car - public transport comparsion result
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-6" for="ResultPriceOfPath">Cena jízdy autem tam a zpět (spotřeba + parkovné)</label>
            <div class="col-md-6">
                <span class="lead">
                    <span class="text-info" id="ResultPriceOfPath"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="ResultKilometerPriceDiff">
                <span class="label saving-loosing"></span>
                Při jízdě veřejnou dopravou na 1 km
            </label>
            <div class="col-md-6">
                <span class="lead">
                    <span class="text-success" id="ResultKilometerPriceDiff"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="ResultOnDistancePriceDiff">
                <span class="label saving-loosing"></span>
                Při jízdě veřejnou dopravou za den
            </label>
            <div class="col-md-6">
                <span class="lead">
                    <span class="text-success" id="ResultOnDistancePriceDiff"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="ResultOnPrepaidTimePriceDiff">
                <span class="label saving-loosing"></span>
                Při jízdě veřejnou dopravou za předplacené období
            </label>
            <div class="col-md-6">
                <span class="lead">
                    <span class="text-success" id="ResultOnPrepaidTimePriceDiff"></span>
                    <span id="smile"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-6 col-md-6" style="font-size:large">
                    <span id="saving" class="label label-success">+ šetřím</span>
                    <span id="loosing" class="label label-default">- prodělávám</span>
            </div>
        </div>

    </div>


}