@model WebPovedCalculator.Models.CounterModel

@{
    ViewBag.Title = "Poved Kalkulátor tarifu";
}

<h2>Poved Kalkulátor tarifu</h2>

@using (Html.BeginForm())
{
    // Datepickers inicialization
    <script src="~/Scripts/Secret/datepicker.js"></script>
    <script>
        $(function () {
            calendarInit(@DateTime.Now.Year, @(@DateTime.Now.Year+10));
        });
    </script>

    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.category, new SelectList(Model.categories, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.startDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.startDate, new { @class = "form-control jquery_datepicker", @Value = Model.startDate.ToShortDateString() })
                @Html.ValidationMessageFor(model => model.startDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.endDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.endDate, new { @class = "form-control jquery_datepicker", @Value = Model.endDate.ToShortDateString() })
                @Html.ValidationMessageFor(model => model.endDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.zone, new SelectList(Model.zones, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.zone)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label for="@Html.DisplayNameFor(model => model.innerZone)">
                        @Html.CheckBoxFor(model => model.innerZone)
                        @Html.DisplayNameFor(model => model.innerZoneName)
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spočítat cenu" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@if (@Model.price > 0)
{
    // Compare With Car inicialization
    <script src="~/Scripts/Secret/comparewithcar.js"></script>
    <script>
        $(function () {
            compareWithCarInit(@Model.daysDifference, @Model.price);
        });
    </script>
    
    <hr />
    <div class="form-group">
            <h2>
                <span class="label label-info">@Model.price Kč</span>
                <span class="label label-default">@Model.daysDifference dní</span>
                <span class="label label-default">@Model.zone zon</span>
                <span class="label label-default">@Model.innerZone vnitrni</span>
            </h2>
    </div>



    <table class="table table-striped">
        <thead>
            <tr><th>Začátek tarifu</th><th>Konec tarifu</th><th>Počet dní</th><th>Typ tarifu</th><th>Cena</th></tr>
        </thead>
        <tbody>
            @{
    var denni = "denni";
                var nedenni = "pulrocni/rocni";
            }
            @foreach (var item in Model.tarifs)
            {
                <tr>
                    <td>@item.dateStart.ToShortDateString()</td>
                    <td>@item.dateEnd.ToShortDateString()</td>
                    <td>@item.days</td>
                    <td>@if (@item.days < 190) { @denni } else { @nedenni }</td>
                    <td>
                        @if (@Model.innerZone) { @item.innerPrice }
                        @if (@Model.innerZone && (@Model.zone > 0)) { @(" + "); }
                        @if (@Model.zone > 0) {
                            if (@Model.zone > 1) { @Model.zone @(" x "); }
                            @item.price
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <hr />

    <h3>Srovnání nákladů: Auto X Veřejná doprava</h3>
    <hr />
    
    //Chosing car parameters
    <div class="form-horizontal">

        <div class="form-group">
            <label for="fuelConsumptionAmount" class="control-label col-md-4">
                Průměrná spotřeba paliva:
                <input type="text" id="fuelConsumptionAmount" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </label>
            <div class="col-md-8">
                <div id="fuelConsumption" style="margin-top:12px"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="fuelPriceAmount" class="control-label col-md-4">
                Cena paliva:
                <input type="text" id="fuelPriceAmount" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </label>
            <div class="col-md-8">
                <div id="fuelPrice" style="margin-top:12px"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="pathDistanceAmount" class="control-label col-md-4">
                Délka trasy (tam i zpět):
                <input type="text" id="pathDistanceAmount" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </label>
            <div class="col-md-8">
                <div id="pathDistance" style="margin-top:12px"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="parkingPriceAmount" class="control-label col-md-4">
                Cena parkování:
                <input type="text" id="parkingPriceAmount" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </label>
            <div class="col-md-8">
                <div id="parkingPrice" style="margin-top:12px"></div>
            </div>
        </div>

    </div>

    <hr />
    
    //Car - public transport comparsion result
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-4" for="ResultPriceOfPath">Cena jízdy autem tam a zpět (spotřeba + parkovné)</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="ResultPriceOfPath" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </div>
        </div>
        <hr />
        <div class="form-group has-success">
            <label class="control-label col-md-4" for="ResultKilometerPriceDiff">Při jízdě veřejnou dopravou na 1 km</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="ResultKilometerPriceDiff" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </div>
        </div>
        <div class="form-group has-success">
            <label class="control-label col-md-4" for="ResultOnDistancePriceDiff">Při jízdě veřejnou dopravou za den</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="ResultOnDistancePriceDiff" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </div>
        </div>
        <div class="form-group has-success">
            <label class="control-label col-md-4" for="ResultOnPrepaidTimePriceDiff">Při jízdě veřejnou dopravou za předplacené období</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="ResultOnPrepaidTimePriceDiff" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </div>
        </div>
        <div class="form-group has-success">
            <label class="control-label col-md-4" for="ResultPercentPriceDiff">Při jízdě veřejnou dopravou v procentech</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="ResultPercentPriceDiff" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8" style="font-size:large">
                    <span id="saving" class="label label-success">+ šetřím</span>
                    <span id="loosing" class="label label-default">- prodělávám</span>
            </div>
        </div>

    </div>


}
    <hr />    

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
