@model WebPovedCalculator.Models.CounterModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    // Datepickers
    <script>
        $(function () {
            $("#startDate").datepicker({
                //changeMonth: true,
                //changeYear: true,
                dateFormat: "d.m.yy",
                onClose: function (selectedDate) {
                    $("#endDate").datepicker("option", "minDate", selectedDate);
                }
            });
            
        });
        $(function () {
            $("#endDate").datepicker({
                //changeMonth: true,
                //changeYear: true,
                dateFormat: "d.m.yy",
                onClose: function (selectedDate) {
                    $("#startDate").datepicker("option", "maxDate", selectedDate);
                }
            });
        });
    </script>
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.category, new SelectList(Model.categories, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.startDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.startDate, new { @class = "form-control jquery_datepicker", @Value = Model.startDate.ToShortDateString() })
                @Html.ValidationMessageFor(model => model.startDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.endDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.endDate, new { @class = "form-control jquery_datepicker", @Value = Model.endDate.ToShortDateString() })
                @Html.ValidationMessageFor(model => model.endDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.zone, new SelectList(Model.zones, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.zone)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label for="@Html.DisplayNameFor(model => model.innerZone)">
                        @Html.CheckBoxFor(model => model.innerZone)
                        @Html.DisplayNameFor(model => model.innerZoneName)
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spočítat cenu" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@if (@Model.price > 0)
{
    // Sliders
    <script>
        var TariffLenght = @Model.daysDifference;
        var TariffPrice = @Model.price;

        var AverageFuelConsumption;
        var LiterOfFuelPrice;
        var PathDistance;
        var ParkingFee;

        var CarPriceOnKM;
        var TariffPriceOnKM;
        $(function () {
            $("#fuelConsumption").slider({
                value: 8.5,
                min: 1,
                max: 20,
                step: 0.1,
                slide: function (event, ui) {
                    $("#fuelConsumptionAmount").val(ui.value + " litr/100km");
                    AverageFuelConsumption = ui.value;
                    countAll();
                }
            });
            $("#fuelConsumptionAmount").val($("#fuelConsumption").slider("value") + " litr/100km");
            AverageFuelConsumption = $("#fuelConsumption").slider("value");
        });
        //
        $(function () {
            $("#fuelPrice").slider({
                value: 35,
                min: 10,
                max: 50,
                step: 0.1,
                slide: function (event, ui) {
                    $("#fuelPriceAmount").val(ui.value + " Kč/litr");
                    LiterOfFuelPrice = ui.value;
                    countAll();
                }
            });
            $("#fuelPriceAmount").val($("#fuelPrice").slider("value") + " Kč/litr");
            LiterOfFuelPrice = $("#fuelPrice").slider("value");
        });
        //
        $(function () {
            $("#pathDistance").slider({
                value: 10,
                min: 1,
                max: 80,
                step: 1,
                slide: function (event, ui) {
                    $("#pathDistanceAmount").val(ui.value + " Km");
                    PathDistance = ui.value;
                    countAll();
                }
            });
            $("#pathDistanceAmount").val($("#pathDistance").slider("value") + " Km");
            PathDistance = $("#pathDistance").slider("value");
        });
        //
        $(function () {
            $("#parkingPrice").slider({
                value: 0,
                min: 0,
                max: 300,
                step: 5,
                slide: function (event, ui) {
                    $("#parkingPriceAmount").val(ui.value + " Kč/den");
                    ParkingFee = ui.value;
                    countAll();
                }
            });
            $("#parkingPriceAmount").val($("#parkingPrice").slider("value") + " Kč/den");
            ParkingFee = $("#parkingPrice").slider("value");
        });
        // --------------------------------- TEST
        $(function () {
            countAll();
        });
        function countAll() {
            //help vars
            CarPriceOnKM = AverageFuelConsumption * LiterOfFuelPrice / 100;
            TariffPriceOnKM = TariffPrice / TariffLenght / PathDistance;
            //counting functions
            function PriceOfPath() {
                return CarPriceOnKM * PathDistance + ParkingFee;
            }
            function KilometerPriceDiff() {
                return CarPriceOnKM - TariffPriceOnKM;
            }
            function OnDistancePriceDiff() {
                return KilometerPriceDiff() * PathDistance + ParkingFee;
            }
            function OnPrepaidTimePriceDiff() {
                return OnDistancePriceDiff() * TariffLenght;
            }
            function PercentPriceDiff() {
                if (KilometerPriceDiff() == 0) {
                    return 0;
                }
                return 100 - (100 / (PriceOfPath() / (TariffPrice / TariffLenght)));
            }
            //results out
            $("#ResultPriceOfPath").val(parseFloat(PriceOfPath()).toFixed(2) + " Kč");
            $("#ResultKilometerPriceDiff").val(parseFloat(KilometerPriceDiff()).toFixed(2) + " Kč");
            $("#ResultOnDistancePriceDiff").val(parseFloat(OnDistancePriceDiff()).toFixed(2) + " Kč");
            $("#ResultOnPrepaidTimePriceDiff").val(parseFloat(OnPrepaidTimePriceDiff()).toFixed(2) + " Kč");
            $("#ResultPercentPriceDiff").val(parseFloat(PercentPriceDiff()).toFixed(2) + " %");

            //change color
            if(PercentPriceDiff() < 0) {
                $(".has-success").removeClass("has-success").addClass("has-error");
                $(".help-block").text("- prodělávám");
            } else {
                $(".has-error").removeClass("has-error").addClass("has-success");
                $(".help-block").text("+ šetřím");
            }
        }
    </script>
    
    <p style="font-size: 2em;">@Model.price Kč, @Model.daysDifference dní</p>
    <table class="table table-striped">
        <thead>
            <tr><th>Začátek tarifu</th><th>Konec tarifu</th><th>Počet dní</th><th>Typ tarifu</th><th>Cena</th></tr>
        </thead>
        <tbody>
            @{
                var denni = "denni";
                var nedenni = "pulrocni/rocni";
            }
            @foreach (var item in Model.tarifs)
            {
                <tr><td>@item.dateStart</td><td>@item.dateEnd</td><td>@item.days</td><td>@if (@item.days < 190) {@denni}else{@nedenni}</td><td>???</td></tr>
            }
        </tbody>
    </table>
    <hr />
    
    //Chosing car parameters
    <div class="form-horizontal">

        <div class="form-group">
            <label for="fuelConsumptionAmount" class="control-label col-md-4">
                Průměrná spotřeba paliva:
                <input type="text" id="fuelConsumptionAmount" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </label>
            <div class="col-md-8">
                <div id="fuelConsumption" style="margin-top:12px"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="fuelPriceAmount" class="control-label col-md-4">
                Cena 1 litru paliva:
                <input type="text" id="fuelPriceAmount" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </label>
            <div class="col-md-8">
                <div id="fuelPrice" style="margin-top:12px"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="pathDistanceAmount" class="control-label col-md-4">
                Délka trasy (tam i zpět):
                <input type="text" id="pathDistanceAmount" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </label>
            <div class="col-md-8">
                <div id="pathDistance" style="margin-top:12px"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="parkingPriceAmount" class="control-label col-md-4">
                Cena parkování:
                <input type="text" id="parkingPriceAmount" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </label>
            <div class="col-md-8">
                <div id="parkingPrice" style="margin-top:12px"></div>
            </div>
        </div>

    </div>

    <hr />
    
    //Car - public transport comparsion result
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-4" for="ResultPriceOfPath">Cena jízdy autem tam a zpět (spotřeba + parkovné)</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="ResultPriceOfPath" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
            </div>
        </div>
        <div></div>
        <div class="form-group has-success">
            <label class="control-label col-md-4" for="ResultKilometerPriceDiff">Při jízdě veřejnou dopravou na 1 km</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="ResultKilometerPriceDiff" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group has-success">
            <label class="control-label col-md-4" for="ResultOnDistancePriceDiff">Při jízdě veřejnou dopravou za den</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="ResultOnDistancePriceDiff" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group has-success">
            <label class="control-label col-md-4" for="ResultOnPrepaidTimePriceDiff">Při jízdě veřejnou dopravou za předplacené období</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="ResultOnPrepaidTimePriceDiff" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group has-success">
            <label class="control-label col-md-4" for="ResultPercentPriceDiff">Rozdíl v procentech</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="ResultPercentPriceDiff" readonly style="border:0; color:#2e6e9e; font-weight:bold;" size="12">
                <span class="help-block"></span>
            </div>
        </div>

    </div>


}

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
